/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}

.container {
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 400px; /* Set a maximum width for larger screens */
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    background-color: #e9eaee;
    padding: 30px; /* Adjusted padding for smaller screens */
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#response {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .container {
        width: 90%; /* Adjusted width for smaller screens */
        padding: 15px; /* Adjusted padding for even smaller screens */
    }
}
